Repository William01br/task-manager-API: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --selectProjects unit

chore: add testContainer lib and add setup for mongodb with TestContainer
  package-lock.json
  package.json
  test/utils/MongoTestContainer.ts
Due: eslint --fix, prettier --write

chore: add type global for testRequest
  .husky/pre-push
  test/types/globals.d.ts
Due: eslint --fix, prettier --write

chore: add setup files for unit and integration tests
  test/setup/jest.setup.integration.ts
  test/setup/jest.setup.unit.ts
Due: eslint --fix, prettier --write

fix: add NotFoundError when totalDocs is null in the GET /api/tasks/page/limit endpoint
  src/application/services/TaskService.ts
Due: eslint --fix, prettier --write

test: add unit test for taskService in GET /api/tasks/page/limit endpoint
  test/unit/TaskService.spec.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

test: add integration test for TaskController in 'POST /api/tasks' endpoint
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

chore: modifies jest.setup.integration.ts
  jest.config.js
  jest.setup.js
  package-lock.json
  src/server.ts
  test/setup/jest.setup.integration.ts
Due: eslint --fix, prettier --write

fix: rename error message
  src/application/schemas/LimitSchema.ts
  src/application/schemas/PageSchema.ts
Due: eslint --fix, prettier --write

fix: delete notFoundError when page provided is greater than totalPage
  src/application/services/TaskService.ts
Due: eslint --fix, prettier --write

test: add unit tast for cover NotfoundError
  test/unit/TaskService.spec.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

test: add integration test for TaskController in 'GET /api/tasks/page/limit' endpoint
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

test: add integration test for TaskController in 'GET /api/tasks/:id' endpoint
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

test: add integration test for TaskController in 'PATCH /api/tasks/:id' endpoint
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

test: add integration test for TaskController in 'DELETE /api/tasks/:id' endpoint
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

fix: rename error messages
  src/application/services/TaskService.ts
  src/presentation/controllers/TaskController.ts
Due: eslint --fix, prettier --write

chore: create redis service in docker
  docker-compose.yml
Due: none

chore: add redis and redis types
  package-lock.json
  package.json
Due: none

chore: remove redis and add ioredis
  package-lock.json
  package.json
Due: none

chore: add configuration for connection to redis
  src/config/cache.ts
  src/config/env.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: add interface and service for cache
  src/infra/cache/redis/CacheService.ts
  src/infra/cache/redis/ICacheService.ts
Due: eslint --fix, prettier --write

feat: add redis instance and redis service in container of Dependency Injection
  src/di/container-setup.ts
  src/di/tokens.ts
Due: eslint --fix, prettier --write

fix: replace return of method delete in TaskRepository
  src/infra/database/mongoose/repositories/ITaskRepository.ts
  src/infra/database/mongoose/repositories/TaskRepository.ts
Due: eslint --fix, prettier --write

feat: add cache in TaskService
  src/application/services/TaskService.ts
Due: eslint --fix, prettier --write

fix: fixes unit tests
  test/unit/TaskService.spec.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

fix: fixes integration tests
  test/integration/taskController.integration.spec.ts
Due: eslint --fix, prettier --write

test: refactory TaskService.spec.ts for multiple files with use cases
  test/unit/Task/Task.service.delete.spec.ts
  test/unit/Task/Task.service.get.spec.ts
  test/unit/Task/Task.service.patch.spec.ts
  test/unit/Task/Task.service.post.spec.ts
  test/unit/Task/TaskMapper.spec.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

test: add mocks for taskService use case
  test/__mocks__/createCacheServiceMock.ts
  test/__mocks__/createTaskRepoMock.ts
  test/__mocks__/taskFactory.ts
Due: eslint --fix, prettier --write

chore: create env test file and validate the environments variables
  .env.test
  src/config/env.ts
Due: eslint --fix, prettier --write

chore: create global-setup and teardown files and refactor setupIntegration
  jest.config.ts
  test/setup/jest.global-setup.ts
  test/setup/jest.setup.integration.ts
  test/setup/jest.teardown.ts
  test/types/globals.d.ts
Due: eslint --fix, prettier --write

fix: refactor taskController integration file for use cases and add test for cache feature
  package-lock.json
  package.json
  src/application/services/TaskService.ts
  test/integration/Task/task.controller.cache.integration.spec.ts
  test/integration/Task/task.controller.delete.integration.spec.ts
  test/integration/Task/task.controller.get.integration.spec.ts
  test/integration/Task/task.controller.patch.integration.spec.ts
  test/integration/Task/task.controller.post.integration.spec.ts
  test/integration/taskController.integration.spec.ts
  test/unit/TaskMapper.spec.ts
  test/unit/TaskService.spec.ts
  test/utils/MongoTestContainer.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

chore: remove comments of some files
  src/di/container-setup.ts
  src/infra/database/mongoose/repositories/ITaskRepository.ts
  test/setup/jest.teardown.ts
Due: eslint --fix, prettier --write

chore: fix hook pre-push
  .husky/pre-push
Due: none

chore: add pino, pino-pretty, pino-http, pino-mongodb, and mongodb drive
  package-lock.json
  package.json
Due: none

chore: add mongodb
  docker-compose.yml
Due: none

chore: add connection to mongodb and create collection 'logs'
  src/config/mongo.ts
Due: eslint --fix, prettier --write

feat: add connection in startup application
  .env.test
  src/index.ts
Due: eslint --fix, prettier --write

feat: add logger pino config
  src/logging/logger.ts
Due: eslint --fix, prettier --write

feat: add logger for http requests in server.ts
  .gitignore
  .vscode/settings.json
  src/config/cache.ts
  src/config/database.ts
  src/config/env.ts
  src/presentation/middlewares/errors.ts
  src/server.ts
Due: eslint --fix, prettier --write

chore: include .env.test in .gitignore
  .env.test
  .gitignore
Due: none

refactor: refactor redis instance
  test/unit/Task/Task.service.delete.spec.ts
  test/unit/Task/Task.service.get.spec.ts
  test/unit/Task/Task.service.patch.spec.ts
  test/unit/Task/Task.service.post.spec.ts
Due: eslint --fix, prettier --write, jest --selectProjects unit

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.ts
  jest --selectProjects unit: any of: test/unit/**/*.spec.ts
